[submodule "docs/examples/URDF/unitree_ros"]
	path = docs/examples/URDF/unitree_ros
	url = ../../unitreerobotics/unitree_ros
[submodule "docs/examples/URDF/spot_ros"]
	path = docs/examples/URDF/spot_ros
	url = ../../heuristicus/spot_ros.git
[submodule "docs/examples/URDF/PandaRobot.jl"]
	path = docs/examples/URDF/PandaRobot.jl
	url = ../../StanfordASL/PandaRobot.jl.git
[submodule "docs/examples/URDF/example-robot-data"]
	path = docs/examples/URDF/example-robot-data
	url = ../../Gepetto/example-robot-data.git
[submodule "docs/examples/URDF/anymal_b_simple_description"]
	path = docs/examples/URDF/anymal_b_simple_description
	url = ../../ANYbotics/anymal_b_simple_description.git
