# Julia-specific files
Manifest*.toml

# Documentation build and cache files
.documenter
docs/.*
docs/build*
docs/node_modules
docs/package-lock.json

# Notebook 
*-checkpoint.ipynb
**/.notebook-bbook/.versions/**

# Media files
*.mp4
*.png
*.zip
*.bin
*.biq
*.xml
*.eps
*.agx
*.csv
*.pdf

# System files
.DS_Store

# VSCode files
/.prettierrc
.vscode/
*.code-workspace
.VSCodeCounter/

# log files
*.log

# Miscellaneous
note_files/
result/
events.out.*
**/log.txt
*.cov
.claude/

# CondaPkg
.CondaPkg/
coverage/
*.pb.gz

checkpoints
/Rible*/
!/RibleQCF/
!/RibleExtraIntegrators/
!/RibleTensegrity/