[submodule "yard/examples/URDF/unitree_ros"]
	path = yard/examples/URDF/unitree_ros
	url = https://github.com/unitreerobotics/unitree_ros.git
[submodule "yard/examples/URDF/spot_ros"]
	path = yard/examples/URDF/spot_ros
	url = https://github.com/heuristicus/spot_ros.git
[submodule "yard/examples/URDF/PandaRobot.jl"]
	path = yard/examples/URDF/PandaRobot.jl
	url = https://github.com/StanfordASL/PandaRobot.jl.git
[submodule "yard/examples/URDF/example-robot-data"]
	path = yard/examples/URDF/example-robot-data
	url = https://github.com/Gepetto/example-robot-data.git
[submodule "yard/examples/URDF/anymal_b_simple_description"]
	path = yard/examples/URDF/anymal_b_simple_description
	url = https://github.com/ANYbotics/anymal_b_simple_description.git
